apiVersion: v2
name: traefik
description: A Traefik based Kubernetes ingress controller
type: application
version: 34.3.0
# renovate: image=traefik
appVersion: v3.3.3
kubeVersion: ">=1.22.0-0"
keywords:
  - traefik
  - ingress
  - networking
home: https://traefik.io/
sources:
  - https://github.com/traefik/traefik
  - https://github.com/traefik/traefik-helm-chart
maintainers:
  - name: mloiseleur
    email: michel.loiseleur@traefik.io
  - name: charlie-haley
    email: charlie.haley@traefik.io
  - name: darkweaver87
    email: remi.buisson@traefik.io
  - name: jnoordsij
icon: https://raw.githubusercontent.com/traefik/traefik/v2.3/docs/content/assets/img/traefik.logo.png
annotations:
  artifacthub.io/changes: |
    - "fix(Traefik Hub): AIServices are available in API Gateway"
    - "fix(Traefik Hub): :bug: handle main and latest build"
    - "feat: :sparkles: add missing microcks provider for Hu"b
    - "feat(deps): update traefik docker tag to v3.3.3"
    - "chore: update CRDs to v1.14.1"
dependencies:
  - name: traefik-crds
    version: 1.3.0
    repository: "file://../traefik-crds"
