{{- if gt (int .Values.deployment.replicas) 1 -}}
  {{- with .Values.additionalArguments -}}
  {{- range . -}}
  {{- if contains ".acme." . -}}
  {{- fail (printf "You can not enable acme if you set more than one traefik replica") -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "traefik.fullname" . }}
  labels:
  {{- include "traefik.labels" . | nindent 4 }}
  {{- with .Values.deployment.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ default 1 .Values.deployment.replicas }}
  {{- end }}
  selector:
    matchLabels:
  {{- include "traefik.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    {{- with .Values.rollingUpdate }}
    rollingUpdate:
  {{- toYaml . | nindent 6 }}
  {{- end }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
    {{- include "traefik.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "traefik.serviceAccountName" . }}
      terminationGracePeriodSeconds: 60
      hostNetwork: {{ .Values.hostNetwork }}
      {{- with .Values.deployment.dnsPolicy }}
      dnsPolicy: {{ . }}
      {{- end }}
      {{- with .Values.deployment.initContainers }}
      initContainers:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      containers:
        - image: {{ .Values.image.name }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: {{ template "traefik.fullname" . }}
          {{- with .Values.resources }}
          resources:
          {{- toYaml . | nindent 10 }}
          {{- end }}
          readinessProbe:
            httpGet:
              path: /ping
              port: {{ .Values.ports.traefik.port }}
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            httpGet:
              path: /ping
              port: {{ .Values.ports.traefik.port }}
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          ports:
            {{- range $name, $config := .Values.ports }}
            - name: {{ $name | quote }}
              containerPort: {{ $config.port }}
              {{- if $config.hostPort }}
              hostPort: {{ $config.hostPort }}
              {{- end }}
              {{- if $config.hostIP }}
              hostIP: {{ $config.hostIP }}
              {{- end }}
              protocol: {{ default "TCP" $config.protocol | quote }}
          {{- end }}
          {{- with .Values.securityContext }}
          securityContext:
          {{- toYaml . | nindent 10 }}
          {{- end }}
          volumeMounts:
            - name: data
              mountPath: {{ .Values.persistence.path }}
              {{- if .Values.persistence.subPath }}
              subPath: {{ .Values.persistence.subPath }}
            {{- end }}
            - name: tmp
              mountPath: /tmp
            {{- range .Values.volumes }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              readOnly: true
          {{- end }}
          args:
            {{- with .Values.globalArguments }}
            {{- range . }}
            - {{ . | quote }}
              {{- end }}
              {{- end }}
            {{- range $name, $config := .Values.ports }}
            - "--entryPoints.{{$name}}.address=:{{ $config.port }}/{{ default "tcp" $config.protocol | lower }}"
            {{- end }}
            - "--api.dashboard=true"
            - "--ping=true"
            {{- if .Values.providers.kubernetesCRD.enabled }}
            - "--providers.kubernetescrd"
            {{- end }}
            {{- if .Values.providers.kubernetesIngress.enabled }}
            - "--providers.kubernetesingress"
            {{- end }}
            {{- if and .Values.rbac.enabled .Values.rbac.namespaced}}
            - "--providers.kubernetescrd.namespaces={{ .Release.Namespace }}"
            - "--providers.kubernetesingress.namespaces={{ .Release.Namespace }}"
            {{- end }}
            {{- range $entrypoint, $config := $.Values.ports }}
            {{- if $config.redirectTo }}
            {{- $toPort := index $.Values.ports $config.redirectTo }}
            - "--entrypoints.{{ $entrypoint }}.http.redirections.entryPoint.to=:{{ $toPort.exposedPort }}"
            - "--entrypoints.{{ $entrypoint }}.http.redirections.entryPoint.scheme=https"
            {{- end }}
            {{- end }}
            {{- with .Values.logs }}
            {{- if .general.format }}
            - "--log.format={{ .general.format }}"
            {{- end }}
            {{- if ne .general.level "ERROR" }}
            - "--log.format={{ .general.level | upper }}"
            {{- end }}
            {{- if .access.enabled }}
            - "--accesslog=true"
            {{- if .access.format }}
            - "--accesslog.format={{ .access.format }}"
            {{- end }}
            {{- if .access.bufferingsize }}
            - "--accesslog.bufferingsize={{ .access.bufferingsize }}"
            {{- end }}
            {{- if .access.filters }}
            {{- if .access.filters.statuscodes }}
            - "--accesslog.filters.statuscodes={{ .access.filters.statuscodes }}"
            {{- end }}
            {{- if .access.filters.retryattempts }}
            - "--accesslog.filters.retryattempts"
            {{- end }}
            {{- if .access.filters.minduration }}
            - "--accesslog.filters.minduration={{ .access.filters.minduration }}"
            {{- end }}
            {{- end }}
            - "--accesslog.fields.defaultmode={{ .access.fields.general.defaultmode }}"
            {{- range $fieldname, $fieldaction := .access.fields.general.names }}
            - "--accesslog.fields.names.{{ $fieldname }}={{ $fieldaction }}"
            {{- end }}
            - "--accesslog.fields.headers.defaultmode={{ .access.fields.headers.defaultmode }}"
            {{- range $fieldname, $fieldaction := .access.fields.headers.names }}
            - "--accesslog.fields.headers.names.{{ $fieldname }}={{ $fieldaction }}"
            {{- end }}
            {{- end }}
            {{- end }}
            {{- with .Values.additionalArguments }}
            {{- range . }}
            - {{ . | quote }}
              {{- end }}
              {{- end }}
          {{- with .Values.env }}
          env:
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.envFrom }}
          envFrom:
          {{- toYaml . | nindent 10 }}
          {{- end }}
      {{- if .Values.deployment.additionalContainers }}
      {{- toYaml .Values.deployment.additionalContainers | nindent 6 }}
      {{- end }}
      volumes:
        - name: data
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ default (include "traefik.fullname" .) .Values.persistence.existingClaim }}
          {{- else }}
          emptyDir: {}
        {{- end }}
        - name: tmp
          emptyDir: {}
        {{- range .Values.volumes }}
        - name: {{ .name }}
          {{- if eq .type "secret" }}
          secret:
            secretName: {{ .name }}
          {{- else if eq .type "configMap" }}
          configMap:
            name: {{ .name }}
      {{- end }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
  {{- toYaml . | nindent 8 }}
  {{- end }}
