{{- if .Values.traefik -}}
{{ include "traefik-crds.render-crds" (dict "scope" . "path" "crds-files/traefik/*.yaml") }}
{{- end }}

{{- if eq (.Values.hub | toString) "true" -}}
{{ include "traefik-crds.render-crds" (dict "scope" . "path" "crds-files/hub/*.yaml") }}
{{- end }}

{{- if and (eq (.Values.gatewayAPI | toString) "true") (eq (.Values.gatewayAPIExperimental | toString) "true") -}}
{{- fail "Cannot enable both gatewayAPI and gatewayAPIExperimental at the same time. Please choose either standard or experimental Gateway API CRDs, but not both." -}}
{{- end }}

{{- if eq (.Values.gatewayAPIExperimental | toString) "true" -}}
{{ include "traefik-crds.render-crds" (dict "scope" . "path" "crds-files/gatewayAPI/gateway-experimental-install.yaml") }}

{{- else if eq (.Values.gatewayAPI | toString) "true" -}}
{{ include "traefik-crds.render-crds" (dict "scope" . "path" "crds-files/gatewayAPI/gateway-standard-install.yaml") }}
{{- end }}

{{- if eq (.Values.knative | toString) "true" -}}
{{ include "traefik-crds.render-crds" (dict "scope" . "path" "crds-files/knative/*.yaml") }}
{{- end }}
